
/* Main */
:root{
    --stone-50-color:#fafaf9;
    --stone-100-color:#f5f5f4;
    --stone-200-color:#e7e5e4;
    --stone-300-color:#d6d3d1;
    --stone-400-color:#a8a29e;
    --stone-500-color:#78716c;
    --stone-600-color:#57534e;
    --stone-700-color:#44403c;
    --stone-800-color:#292524;
    --stone-900-color:#1c1917;
}
*{
    margin: 0;
    padding: 0;
    font-family: Courier;
    
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
    background-color: var(--stone-200-color);
}

body div{
    font-size: 25px;
}

.right{
    display:grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 2fr 1fr;
}

 /* header */

.header{
    display:flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 8px;
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: var(--stone-100-color);
    margin: 15px;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
    padding: 5px;
}

.top > div{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
}

.top > div > button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.bottom{
    display:flex;
    justify-content: space-between;
    padding: 15px;
    
}
.bottom > div{
    gap: 15px;
}

.profile{
    display: flex;
    justify-content: space-around;
    padding-inline: 10px;
    gap: 50px;
    border: 2px solid;
    border-radius: 8px;
    background-color: var(--stone-300-color);
}

.profile > div :first-child{
    font-size: 25px
}

.profile > div > p {
    font-size: 30px;
}
.btns{
    display: flex;
    justify-content: space-around;
    gap: 35px;
}

.bar{
    width: 25vw;
    height: 25px;
    margin-inline-start: 20px;
    border: solid 2px;
    border-radius: 8px;;
}

/* Side Bar */

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--stone-400-color);
}
.sidebar > div:first-child{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}
.sidebar > div {
    display: flex;
    flex-direction: column;
    
}
.sidebar ul{
    display:flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    
}
.mid {
    margin-top: 50px;
    gap: 50px;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
a:hover{
    text-decoration: underline;
}
/* Projects */

.projects{
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-column: 1 / 2;
    background-color: var(--stone-200-color);
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 100%;
}

.tile{
    display: grid;

    gap: 10px;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    background-color: var(--stone-50-color);
    border: 2px solid;
    border-radius: 8px;
    padding: 10px;
}

/* Updates */

.updates{
    display:flex;
    flex-direction: column;
    padding: 20px;
    gap: 2vw;
    background-color: var(--stone-200-color);
    justify-content: center;
}

.announce{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: solid 2px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}
.announce > p {
    
    
}
.announce > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.trending{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 8px;
    padding: 10px;
    gap: 20px;
    background-color: white;
}
.trending > div {
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.trending > div > div{
    display: flex; 
    flex-direction: column;
    
}
.trending > div > img{
    height: 50px;
    width: auto;

}

button{
    background: var(--stone-300-color);
	border: solid 2px;
	font: inherit;
	cursor: pointer;
    border-radius: 8px;
    padding-inline: 15px;
    margin: 10px;
}
button:hover{
    background: var(--stone-600-color);
    color: var(--stone-100-color);
    border: solid 2px;
    border-color: var(--stone-900-color);
    border-radius: 8px;
}

.imgbtn{
    margin: 5px;
    height: auto;
    width: 45px;
}
.imgbtn:hover{
    transform: scale(1.1);
}